* {
    margin: 0;
    font-family: verdana;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.scrollable-element {
  scrollbar-color: red yellow;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FBFEF9;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    flex: 1;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -20px;
}

center
{
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    line-height: 30px;
    font-size: 15px;
}

input
{
    padding-left: 10px;
}

.searchbar{
    height: 30px;
    width:300px;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: verdana;
    border: 1px solid black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
}

input[type=text] {
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: none;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -20px;
    padding-left: 10px;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: #e1f1ff;
    background-color: transparent;
}

.book {
    width: 160px;
    height: 200px;
    margin: 10px;
    text-align: center;
    font-family: verdana;
    font-size: 17px;
    padding: 30px 10px;
    border: 1px solid black;
}

.bookimg{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.bookimg img
{
    width: 130px;
    height: 130px;
}

.book
{
    background-color: aliceblue;
}

.special h6
{
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    padding: 10px;
  /*  background: linear-gradient(to right, #3494e6, #ec6ead); */
    background-color: rgb(236, 120, 139);
    background-color: #00aced;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 3px black;
    border: 1px solid black;
}

.cheat h6
{
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    padding: 10px;
    background-color: rgb(77, 250, 77);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 3px black;
    border: 1px solid black;
}

.paper h6
{
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    padding: 10px;
    background-color: #effa5d;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 3px black;
    border: 1px solid black;
}

.program h6
{
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    padding: 10px;
    background-color: #fa5dd3;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 3px black;
    border: 1px solid black;
}

button
{
    color: #FBFEF9;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 15px;
    background-color: #F39237;
    transition: all 0.2s ease;
    border: 0;
    width: 90%;
    border: 2px solid transparent;
}

button:hover
{
    background-color: #FBFEF9;
    color: #373752;
    border: 2px solid #F39237;
}

/* About Section */
#about {
    font-size: 1.4em;
  }

body,h1,h2,h3,h4,h6 {font-family: "Lato", sans-serif;}

body, html {
    color: #777;
    line-height: 1.8;
}

.Head
{
    text-align: center;
    width: 90%;
}

.Head h3
{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.Head table
{
    width: 100%;
}

.Head table tr
{
    position: relative;
    height: 300px;
}

.Head table .image
{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: #777;
    background-size: cover;
}

.Head table img
{
    width: 100%;
    overflow: hidden;
    display: block;
}

.Head table .text
{
    padding: 0px 100px;
    text-align: left;
}

@media screen and (max-width: 800px)
{
    .Head table .text
    {
        display: none;
    }

    .Head table .image
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .book {
        width: 120px;
        height: 190px;
    }

    .bookimg img
    {
        width: 110px;
        height: 110px;
    }

    main .message
    {
        display: block;
    }
}

@media screen and (min-width: 800px)
{
    main .message
    {
        display: none;
    }
}

.message
{
    width: auto;
    margin: 20px;
}


.footer
{
    display: flex;
    margin: 0;
    margin-left: 20px;
    width: 90%;
}

.footer li
{
    list-style: none;
    margin: 0px 2px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:  #F39237;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-instagram {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:  #F39237;
}
.fa-instagram:hover {
    background-color: #d62976;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:  #F39237;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:  #F39237;
}
.fa-github:hover {
    background-color: #5a32a3;
}

i
{
    border-radius: 50%;
}

.copyright
{
    width: 80%;
}

h6
{
    color: black;
}

.testimonials
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.comments
{
    width: 320px;
    height: auto;
    margin: 10px;
    background-color: rgb(207, 217, 226);
    background-color: rgb(219, 231, 242);
}

.comments .profile
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -30px;
    border: 10px solid #FBFEF9;
    margin-bottom: 10px;
}

.comments .profile img
{
    width: 100%;
}

.comments h5
{
    text-align: center;
    margin: 0px 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.comments stars .checked
{
    color: orange;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    width: auto;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow: 0;
    background-color: transparent;
  }

  #myBtn img
  {
    width: 50px;
    height: 50px;
  }
